.custom-calendar .p-datepicker-trigger {
  background-color: #9D0639;
  border: none;
  color: #EDD1AA;
}

.custom-calendar .p-datepicker-trigger .pi {
  color: #EDD1AA;
  font-size: 1.2rem;
}

.custom-calendar .p-datepicker-trigger:hover {
  background-color: #80042F;
}

.custom-button {
  background-color: #9D0639;
  border: none;
  color: #EDD1AA;
}

.custom-button:hover {
  background-color: #80042F;
}

body {
  background-color: #edd1aa7c;
}